$pink_color: #f38191;
$light_pink_color: #f8f3f4;
$base_color: #222222;
$white_color: #ffffff;
$light_grey_color: #e6e6e6;
$mid_grey_color: #646464;
$light_text_grey_color: #bcbcbc;
$light_grey_back_color: #f3f3f3;