* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f38191;
}

body {
  font-family: 'Lato', sans-serif;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.025em;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.color_pink {
  color: #f38191;
}

.color_white {
  color: #ffffff;
}

.required {
  color: #ff0d0d;
}

.height_full {
  height: 100%;
}

.my-container {
  width: 1140px;
  margin: 0  auto;
}

.hidden {
  display: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

header {
  border-bottom: 1px solid #e6e6e6;
}

.header {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-name {
  font-size: 27px;
  text-transform: uppercase;
}

.site-name_bold {
  font-weight: 900;
}

.site-name_pink {
  color: #f38191;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
}

.logo__site-name {
  margin-left: 13px;
}

.logo:hover {
  color: inherit;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  line-height: 38px;
  height: 38px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button_radius {
  border-radius: 3px;
}

.button_grey {
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
}

.button_bd_grey {
  border: 1px solid #e6e6e6;
}

.button__caret {
  margin-left: 8px;
}

.button_iconed {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.button_submit {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

.button_pink {
  border: 1px solid #f38191;
  background-color: #f38191;
  color: #ffffff;
}

.button_pink:hover {
  background-color: #ffffff;
  color: #f38191;
}

.button_font_medium {
  font-weight: 400;
}

.button_font_semibold {
  font-weight: 700;
}

.button_big {
  line-height: 50px;
  height: 50px;
}

.button_small {
  font-size: 11px;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
}

.button_text_big {
  font-size: 16px;
}

.button_wide {
  padding: 0 45px;
}

.button_upp {
  text-transform: uppercase;
}

.button_light-pink {
  border: 1px solid #f38191;
  background-color: #ffffff;
  color: #f38191;
}

.button_light-pink:hover {
  background-color: #f38191;
  color: #ffffff;
}

.button_light-grey {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  color: #222222;
}

.button_light-grey:hover {
  background-color: #e6e6e6;
  color: #222222;
}

.button_light-white {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.button_light-white:hover {
  background-color: #ffffff;
  color: #222222;
}

.button_atc {
  line-height: 40px;
  height: 40px;
  padding: 0 12px;
}

.button__icon {
  margin-left: 8px;
}

.button_social {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  color: #bcbcbc;
  background-color: #ffffff;
  padding: 0;
}

.button_social:hover {
  background: #f38191;
  color: #ffffff;
}

.caret {
  font-weight: 400;
}

.caret_grey {
  color: #646464;
}

.icon_grey {
  color: #bcbcbc;
}

.icon_cart {
  font-size: 28px;
  line-height: 38px;
}

.icon_atc {
  font-size: 22px;
}

.icon_atc-big {
  font-size: 24px;
}

.form_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input {
  line-height: 38px;
  height: 38px;
  padding: 0 14px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
}

select {
  line-height: 38px;
  height: 38px;
  padding: 0 14px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  -webkit-appearance: none;
  border-radius: 0;
  color: #bcbcbc;
  width: 100%;
}

.select {
  position: relative;
  color: #bcbcbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select__caret {
  position: absolute;
  right: 12px;
}

.search__button {
  position: relative;
}

.search__button_radius_left {
  border-radius: 3px 0px 0px 3px;
}

.search__button_radius_right {
  border-radius: 0px 3px 3px 0px;
}

.search__button_in-search {
  border-left: none;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 37px;
}

.search__input {
  width: 280px;
}

.search__input_in-search {
  border-left: none;
}

.search__button:hover .search__mega-menu.mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__mega-menu.mega-menu {
  left: 0;
  top: 99%;
}

.search__mega-menu.mega-menu::before {
  left: 68px;
}

.personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart {
  position: relative;
}

.cart__button {
  margin-top: 30px;
}

.cart__button_second {
  margin-top: 10px;
}

.cart__inner {
  padding: 20px 15px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 5px;
  top: calc(100% + 16px);
  z-index: 3;
}

.cart-item {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(237, 237, 237, 0.74);
}

.cart-item__label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}

.cart-item__rating {
  font-size: 12px;
  color: #e4af48;
  margin-top: 10px;
}

.cart-item__price-box {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f38191;
  margin-top: 10px;
}

.cart-item__times {
  font-size: 10px;
}

.cart-item__remove {
  font-size: 16px;
  color: #bcbcbc;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.cart-total {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.account__button {
  margin-left: 25px;
}

.menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  font-weight: 700;
  position: relative;
}

.menu__link {
  padding: 18px 20px;
  display: inline-block;
  text-transform: uppercase;
}

.mega-menu {
  position: absolute;
  top: 45px;
  left: -200px;
  padding: 20px 25px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  z-index: 3;
  display: none;
}

.mega-menu::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -7px;
  left: 235px;
  z-index: 2;
}

.mega-menu__heading {
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 8px;
}

.mega-menu__item {
  margin-right: 45px;
  width: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mega-menu__item:last-child {
  margin-right: 0;
}

.mega-menu__link {
  display: block;
  line-height: 28px;
  font-weight: 400;
  color: #646464;
}

.mega-menu__list_margin-bottom {
  margin-bottom: 20px;
}

.mega-menu__list_margin-bottom:last-child {
  margin-bottom: 0;
}

.menu__item:hover .mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left_direction {
  right: -200px;
  left: auto;
}

.left_direction::before {
  right: 255px;
  left: auto;
}

.banner {
  background-color: #e6e6e6;
  background-image: url(../img/banner.png);
  background-position: 50% 100%;
  height: 615px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
}

.banner__text {
  position: relative;
  padding-left: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.banner__text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 100%;
  background-color: #f38191;
}

.banner__heading {
  font-size: 60px;
  line-height: 43px;
}

.banner__subheading {
  font-size: 40px;
  line-height: 30px;
  margin-top: 20px;
}

.offers__list {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers__left-column {
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.offers__right-column {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.offers__item {
  background-size: cover;
  margin-bottom: 20px;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers__item_big {
  height: 542px;
}

.offers__item_small {
  height: 261px;
}

.offers__item_for-men {
  background-image: url(../img/for-men.png);
}

.offers__item_accesories {
  background-image: url(../img/accesories.png);
}

.offers__item_women {
  background-image: url(../img/women.png);
}

.offers__item_for-kids {
  background-image: url(../img/for-kids.png);
}

.offers__text {
  background-color: #ffffff;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.offers__label {
  font-size: 18px;
  line-height: 1.2;
}

.offers__highlight {
  font-size: 30px;
  line-height: 1.2;
}

.offers__link:hover {
  color: inherit;
}

.fetured {
  text-align: center;
  margin-top: 80px;
}

.fetured__heading {
  font-size: 30px;
  font-weight: 700;
}

.fetured__subheading {
  font-size: 14px;
  font-weight: 400;
  color: #bcbcbc;
  margin-top: 15px;
}

.fetured__list {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fetured__item-img-part {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fetured__item {
  width: 261px;
  margin-bottom: 40px;
  position: relative;
}

.fetured__item:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.fetured__item-link {
  display: block;
  color: inherit;
}

.fetured__item-link:hover {
  color: inherit;
}

.fetured__item-atc-block {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fetured__item-img {
  -webkit-transition: -webkit-filter 0.2s ease;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
}

.fetured__item:hover .fetured__item-img {
  -webkit-filter: brightness(0.35);
          filter: brightness(0.35);
}

.fetured__item:hover .fetured__item-atc-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetured__atc-icon {
  margin-right: 8px;
}

.fetured__item:hover .fetured__item-hover {
  opacity: 1;
}

.fetured__description {
  padding: 20px 15px;
  text-align: left;
}

.fetured__item-label {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.fetured__item-price {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 17px;
}

.fetured__button {
  margin-top: 20px;
}

.fetured__see-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__banner {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__image {
  background-image: url(../img/offer.jpg);
  min-width: 767px;
  height: 529px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__headings {
  margin-top: 145px;
  color: #ffffff;
  margin-left: 40px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}

.offer__heading {
  font-size: 54px;
}

.offer__subheading {
  font-size: 32px;
}

.offer__description-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 50px 35px;
  background-color: #222222;
  color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.offer__description-item-heading {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 7px;
}

.offer__description-item-text {
  width: 220px;
  line-height: 24px;
  font-weight: 300;
  margin-top: 17px;
}

.subscribe {
  height: 438px;
  background-image: url(../img/subscribe-background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 100px;
  background-color: rgba(242, 242, 242, 0.5);
}

.subscribe__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quotes {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border-right: 1px solid #ffffff;
}

.quotes__carousel {
  margin-top: 110px;
}

.quotes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quotes__photo-image {
  height: 83px;
  width: 83px;
}

.quotes__text-block {
  margin-left: 30px;
}

.quotes__text {
  width: 390px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  margin-top: 12px;
}

.quotes__author {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #f38191;
  margin-top: 20px;
}

.quotes__adress {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
}

.quotes__carousel-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 113px;
  margin-top: 40px;
}

.quotes__carousel-button {
  width: 38px;
  height: 4px;
  background-color: #e6e6e6;
  margin-right: 13px;
}

.quotes__carousel-button_active {
  background-color: #f38191;
}

.subscribe-form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-form__heading {
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
}

.subscribe-form__subheading {
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.subscribe-form__input {
  width: 280px;
  background-color: #e6e6e6;
  border-radius: 23px 0 0 23px;
  border: none;
  line-height: 48px;
  height: 48px;
  font-weight: 400;
  padding: 0px 30px;
  font-size: 14px;
}

.subscribe-form__form {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-form__button {
  width: 104px;
  line-height: 48px;
  height: 48px;
  background-color: #f38191;
  border-radius: 0px 23px 23px 0px;
  border: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

.footer-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 110px 0 90px 0;
}

.about {
  margin-right: 65px;
}

.about__text {
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #646464;
  width: 430px;
  margin-top: 30px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-menu-item {
  width: 155px;
}

.footer-menu-item__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #f38191;
  text-transform: uppercase;
}

.footer-menu-item__list {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu-item__link {
  font-family: Lato;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  color: #646464;
}

.footer-bottom {
  background-color: #e6e6e6;
}

.footer-bootom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 79px;
}

.copyright {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  color: #646464;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__button {
  margin-right: 8px;
}

.socials__button:last-child {
  margin-right: 0;
}

.page-header {
  background-color: #f8f3f4;
}

.page-header-block {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f38191;
}

.breadcrumbs {
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #646464;
}

.breadcrumbs__item::after {
  content: "/";
  margin-left: 3px;
}

.breadcrumbs__item_active {
  font-weight: 700;
  color: #f38191;
}

.breadcrumbs__item_active::after {
  content: "";
}

.carousel.slide {
  height: 777px;
}

.carousel-item {
  background-color: #f7f7f7;
}

.carousel-item__img {
  margin: 10px auto 40px auto;
}

.carousel-control-prev {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carousel-control-prev__button {
  background-color: rgba(42, 42, 42, 0.14);
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-control-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.details {
  margin-top: -50px;
}

.details-container {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  border: 1px solid #e6e6e6;
}

.product {
  width: 645px;
  margin: 0 auto;
  padding: 75px 0 120px 0;
  text-align: center;
}

.product__collection {
  font-size: 14px;
  font-weight: 700;
  color: #f38191;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  padding-bottom: 15px;
  display: inline-block;
  margin-bottom: 0;
}

.product__collection::after {
  content: "";
  width: 63px;
  height: 3px;
  background-color: #f38191;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -2px;
}

.product__name {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #222222;
  margin-top: 18px;
}

.product__descriprion {
  margin-top: 65px;
  line-height: 24px;
  color: #646464;
}

.product__attributes {
  width: 340px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.product__attribute {
  font-weight: 700;
  color: #bcbcbc;
}

.product__attribute-value {
  color: #222222;
}

.product__price {
  font-size: 24px;
  font-weight: 700;
  color: #f38191;
  margin-top: 35px;
  display: inline-block;
}

.product__divider {
  border: 1px solid #e6e6e6;
  margin-top: 45px;
  margin-bottom: 0;
}

.product__atc-block {
  margin-top: 65px;
  width: 535px;
  margin: 0 auto;
}

.product__atc-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
}

.product__atc-input-block {
  width: 145px;
  text-align: left;
}

.product__atc-input-label {
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
}

.product__atc-input {
  margin-top: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  color: #bcbcbc;
  background-image: none;
  padding: 11px 15px;
  line-height: 100%;
  font-size: 13px;
  font-weight: 400;
}

.product__atc-input:focus {
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.product__atc-input-box {
  position: relative;
}

.product__button {
  margin-top: 30px;
  width: 100%;
}

.product__atc-icon {
  margin-right: 8px;
}

.product__atc-img {
  width: 26px;
  height: 24px;
  margin-right: 15px;
}

.product__atc-type {
  width: 144px;
  line-height: 35px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  margin-top: 16px;
  font-size: 13px;
  color: #bcbcbc;
  padding: 0 14px;
  position: relative;
}

.product__atc-options {
  position: relative;
}

.product__options-list {
  padding: 0;
  list-style-type: none;
  font-size: 13px;
  color: #bcbcbc;
  padding: 11px 14px;
  border: 1px solid #e6e6e6;
  border-top: none;
  width: 144px;
  position: absolute;
  background: #ffffff;
  top: 100%;
  left: 0;
}

.product__option {
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__list-icon {
  width: 12px;
  height: 12px;
  display: block;
  margin-right: 10px;
}

.product__list-icon_red {
  background-color: #ef5b70;
}

.product__list-icon_green {
  background-color: #51e68a;
}

.product__list-icon_blue {
  background-color: #5a9afa;
}

.product__caret {
  position: absolute;
  right: 8px;
}

.product__atc-options[open] .product__caret .fa-caret-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.select-arrow {
  color: #bcbcbc;
  position: absolute;
  top: 12px;
  right: 9px;
  font-size: 14px;
  font-weight: 400;
}

.up-sale {
  padding-top: 120px;
}

.up-sale__heading {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.up-sale__list {
  margin-top: 70px;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.sidebar {
  margin-right: 50px;
}

.sidebar-filter {
  width: 245px;
  margin-bottom: 20px;
}

.sidebar-filter__name {
  line-height: 37px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f38191;
  border-left: 5px solid #f38191;
  padding-left: 10px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}

.sidebar-filter[open] .sidebar-filter__caret .fa-caret-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sidebar-filter__caret {
  position: absolute;
  right: 0;
}

.sidebar-filter__link {
  line-height: 34px;
  color: #646464;
  display: block;
}

.sidebar-filter__list {
  padding: 14px 15px;
  font-weight: 400;
}

.top-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-filter__item {
  width: 261px;
}

.top-filter__label {
  font-weight: 700;
  text-transform: uppercase;
  color: #646464;
  line-height: 37px;
}

.top-filter__choose-box {
  margin-top: 15px;
  line-height: 26px;
  font-weight: 400;
  color: #646464;
}

.top-filter__link::after {
  content: "|";
  color: #e6e6e6;
  margin: 0 12px;
}

.top-filter__link:nth-child(3n+3)::after {
  content: "";
}

.top-filter__link:last-child::after {
  content: "";
}

.top-filter__check-label {
  line-height: 20px;
  text-transform: uppercase;
  color: #646464;
  display: inline-block;
  width: 48px;
  margin-right: 13px;
}

.top-filter__check {
  margin-right: 8px;
}

.price-range__control {
  height: 6px;
  background-color: #e6e6e6;
  border-radius: 3px;
  width: calc(100% - 18px);
  margin: 0 auto;
}

.price-range__control .ui-slider-range {
  background-color: #f38191;
}

.price-range__control .ui-slider-handle {
  width: 14px;
  height: 14px;
  background-color: #f38191;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}

.price-range .ui-widget.ui-widget-content {
  border: none;
}

.price-range__results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.price-range__result {
  width: auto;
  background-color: none;
  border: none;
  color: #646464;
  width: 100px;
}

.price-range__result_right {
  text-align: right;
}

.top-controls {
  height: 50px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  padding: 0 10px;
}

.top-controls__item {
  color: #646464;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  font-weight: 400;
}

.top-controls__label {
  padding: 0 10px;
  border-right: 1px solid #e6e6e6;
}

.top-controls__menu-value {
  padding: 0 10px;
}

.top-controls__caret {
  color: #646464;
  margin-left: 20px;
  line-height: 30px;
}

.top-controls__menu {
  position: relative;
}

.top-controls__list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  padding: 0 10px;
  width: 100%;
}

.top-controls__list-item {
  display: block;
}

.top-controls__menu[open] .top-controls__caret .fa-caret-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination-block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-block__control {
  font-size: 20px;
}

.pagination-block__pages {
  height: 44px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 700;
  color: #bcbcbc;
  width: 260px;
}

.pagination-block__item_active {
  color: #f38191;
}

.pagination-block__view-all {
  color: #f38191;
  border: 1px solid #f38191;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 45px;
}

.pagination-block__view-all:hover {
  background-color: #fffafb;
}

.feature-box {
  background-color: #222222;
}

.feature-box__block {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 341px;
}

.feature-box__item {
  width: 310px;
  text-align: center;
  color: #e6e6e6;
}

.feature-box__heading {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}

.feature-box__desc {
  margin-top: 12px;
  line-height: 24px;
}

.subscribe_nomargin {
  margin-top: 0;
}

.checkout {
  margin-top: 50px;
}

.checkout-item {
  border-bottom: 1px solid #e6e6e6;
}

.checkout-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 35px 80px 35px;
}

.checkout-item__left {
  width: 280px;
  min-width: 280px;
  margin-right: 290px;
}

.checkout-item__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.checkout-item__text_mtop {
  margin-top: 35px;
}

.checkout-item__heading {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}

.checkout-item__desc {
  margin-top: 15px;
  font-size: 13px;
  font-weight: 400;
  color: #bcbcbc;
}

.checkout-item__choose {
  margin-top: 30px;
}

.checkout-item__radio {
  margin-right: 15px;
}

.checkout-item__radio-label {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}

.checkout-item__radio-label:last-child {
  margin-bottom: 0;
}

.checkout-item__bullets {
  margin-top: 35px;
}

.checkout-item__continue-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.checkout-item__login {
  margin-top: 30px;
}

.checkout-item__label {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  height: 80px;
  line-height: 80px;
}

.bullets {
  font-size: 13px;
  font-weight: 400;
  color: #bcbcbc;
}

.bullets__item {
  margin-bottom: 15px;
}

.bullets__item:last-child {
  margin-bottom: 0;
}

.bullets__icon {
  margin-right: 4px;
}

.login-form__item {
  margin-bottom: 22px;
}

.login-form__input-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.login-form__input-label_required {
  font-size: 17px;
  margin-left: 2px;
}

.login-form__input {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  line-height: 45px;
}

.login-form__required {
  font-size: 13px;
  font-weight: 400;
}

.login-form__submit-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.cart-full__block {
  margin-top: 90px;
}

.cart-full__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  font-size: 13px;
  color: #646464;
  font-weight: 400;
}

.cart-full__line_labels {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
}

.cart-full__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 80px;
}

.cart-full__column_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-full__column_big {
  width: 280px;
  margin-right: 235px;
}

.cart-full__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-full__img {
  margin-right: 20px;
}

.cart-full__name {
  color: #222222;
  margin-top: 10px;
  margin-bottom: 40px;
}

.cart-full__attr {
  margin-bottom: 8px;
}

.cart-full__attr-name {
  margin-right: 4px;
}

.cart-full__attr-value {
  color: #bcbcbc;
  font-weight: 300;
}

.cart-full__input {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #646464;
  width: 55px;
  text-align: center;
}

.cart-full__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.cart-full__checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.cart-full__to-checkout {
  width: 360px;
}

.shipping__label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.shipping__select {
  margin-bottom: 20px;
}

.shipping__select select {
  font-size: 13px;
  line-height: 45px;
  height: 45px;
}

.shipping__input {
  font-size: 13px;
  line-height: 45px;
  height: 45px;
  color: #bcbcbc;
  margin-bottom: 20px;
  width: 100%;
}

.shipping__submit {
  margin-top: 5px;
}

.coupon__label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.coupon__text {
  margin-bottom: 25px;
}

.coupon__input {
  font-size: 13px;
  line-height: 45px;
  height: 45px;
  color: #bcbcbc;
  margin-bottom: 20px;
  width: 100%;
}

.coupon__submit {
  margin-top: 5px;
}

.total__card {
  background-color: #f3f3f3;
  padding: 40px 45px;
}

.total__sum {
  text-align: right;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.total__subtotal {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.total__total {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.total__price {
  margin-left: 16px;
}

.total__price_pink {
  color: #f38191;
}
/*# sourceMappingURL=style.css.map */