$red: #cf2424;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

h1 {
    color: $red;
    margin-top: 50px;
}

.gallery {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        width: 32%;
        height: 230px;
        margin-bottom: 20px;
        border: 1px solid #e6e6e6;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        overflow: hidden;
    }

    &__desc {
        padding: 5px 0;
        text-align: center;
    }
}