* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #cf4647;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.top-header {
  background-color: #f6f6f6;
}

.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.account__menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account__link {
  padding: 8px 0;
  font-size: 11px;
  text-transform: uppercase;
  color: #7e7e7e;
  display: block;
}

.account__item {
  margin-right: 40px;
}

.account__item:last-child {
  margin-right: 0;
}

.site-settings__menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-settings__item {
  margin-right: 40px;
}

.site-settings__item:last-child {
  margin-right: 0;
}

.site-settings__select {
  padding: 8px 0;
  font-size: 11px;
  text-transform: uppercase;
  color: #7e7e7e;
}

.site-settings__link {
  padding: 8px 0;
  font-size: 11px;
  text-transform: uppercase;
  color: #7e7e7e;
  display: block;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select__icon {
  font-size: 8px;
  margin-left: 4px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__text {
  font-size: 44px;
  font-weight: 700;
  height: 33px;
  line-height: 33px;
  margin-left: 10px;
}

.logo:hover {
  color: inherit;
}

.input {
  width: 220px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  line-height: 32px;
  padding: 0 10px;
  font-size: 13px;
  color: #444444;
  font-weight: 400;
  font-family: 'Merriweather Sans', sans-serif;
}

.button {
  line-height: 32px;
  height: 32px;
  padding: 0 10px;
  background: none;
  border: 1px solid #e1e1e1;
  color: #444444;
  font-weight: 400;
  font-family: 'Merriweather Sans', sans-serif;
  cursor: pointer;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__input {
  border-right: none;
}

.search__button {
  border-left: none;
  color: #7e7e7e;
}

.main-header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-gap: auto;
}

.main-header__menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-header__item {
  margin-right: 40px;
}

.main-header__item:last-child {
  margin-right: 0;
}

.main-header__link {
  padding: 20px 0;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.main-header__search {
  margin-top: 15px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-header__logo {
  padding-bottom: 20px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.banner {
  background-color: #cccccc;
}

.banner__item {
  height: 1070px;
}

.banner__container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider__nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slider__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.slider__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  position: relative;
}

.slider__container_hot {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slider__container_hottest {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 60px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.nav__control {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.nav__control_prev {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav__control_next {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav__icon {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: 3px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 18px;
  margin: 30px;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
  z-index: 2;
  position: relative;
}

.dots__dot {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  border: 2px solid #ffffff;
  cursor: pointer;
  margin-right: 10px;
}

.dots__dot_active {
  background-color: #ffffff;
}

.dots__dot:hover {
  background-color: #ffffff;
}

.dots__dot:last-child {
  margin-right: 0;
}

.bigtext {
  width: 460px;
}

.bigtext__label {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
}

.bigtext__heading {
  font-size: 100px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 15px;
  line-height: 80px;
}

.bigtext__subheading {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  line-height: 33px;
}

.bigtext__link {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bigtext__icon {
  font-size: 9px;
  margin-left: 4px;
}

.hot {
  background-color: #f6f6f6;
  padding: 60px 0;
}

.hot__item {
  background-color: #cccccc;
  position: relative;
}

.hot__item_exclusive {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.hot__item_hottest-styles {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.hot__item_lookbook {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.hot__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  -ms-grid-rows: 430px 250px 250px;
      grid-template-rows: 430px 250px 250px;
}

.hot__slider {
  height: 100%;
}

.hot__heading {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
}

.hot__heading_lined {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
}

.hot__heading_small {
  font-size: 30px;
  line-height: 32px;
  padding: 0 15px;
}

.hot__heading_hottest {
  color: #444444;
  margin-top: 15px;
}

.hot__line {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 3px solid #ffffff;
  margin: 0 10px 6px 10px;
}

.hot__line_small {
  border-width: 1px;
}

.hot__text {
  width: 65%;
  padding: 60px 30px;
  border: 1px solid #ffffff;
}

.hot__subheading {
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 15px;
}

.hot__subheading_lined {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  width: 100%;
  margin-bottom: 15px;
}

.hot__subheading_small {
  padding: 0 60px;
  font-size: 18px;
  text-transform: lowercase;
}

.hot__subheading_hottest {
  color: #444444;
}

.hot__link {
  color: #ffffff;
  position: absolute;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.hot__link_hottest {
  bottom: 60px;
}

.hot__icon {
  margin-left: 4px;
  font-size: 9px;
}

@media screen and (max-width: 1170px) {
  .container {
    padding: 0 30px;
  }
  .banner__container {
    padding: 0 90px;
  }
  .main-header__item {
    margin-right: 15px;
  }
  .site-settings__item {
    margin-right: 15px;
  }
  .main-header__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding-bottom: 0;
    padding-top: 20px;
  }
  .main-header__search {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .main-header__menu {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hot__subheading_small {
    padding: 0;
  }
  .hot__heading_small {
    padding: 0;
  }
  .hot__container {
    -ms-grid-rows: (250px)[3];
        grid-template-rows: repeat(3, 250px);
  }
  .hot__text {
    padding: 30px 30px;
  }
}

@media screen and (max-width: 767px) {
  .top-header {
    display: none;
  }
  .main-header__container {
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  .main-header__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding-bottom: 0;
    padding-top: 15px;
  }
  .main-header__search {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    margin: 15px 0;
  }
  .main-header__menu {
    display: none;
  }
  .banner {
    display: none;
  }
  .hot__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: 250px;
  }
  .hot__item_exclusive {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    grid-row: auto;
  }
  .hot__item_hottest-styles {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    grid-row: span 2;
  }
  .hot__item_lookbook {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    grid-row: span 2;
  }
  .hot__text {
    padding: 30px 10px;
  }
  .nav__control {
    width: 100px;
  }
  .nav__icon {
    margin: 15px;
  }
}
/*# sourceMappingURL=style.css.map */